# TODO move to tox.ini
# once https://bitbucket.org/ned/coveragepy/issues/519 is closed.

[run]
# branch = True
source =
    package_reviewer
    tests
# omit =

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    @(abc\.)?abstractmethod
